@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

@import "tailwindcss";

@plugin "daisyui";

.lato-regular {
  font-family: "Lato", sans-serif;
}

.merriweather {
  font-family: "Merriweather", serif;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Merriweather", serif;
}

.icon {
  /* font-size: 2rem; */
  color: orange;
}

.icon-style {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: flex-start;
}

td {
  text-align: center;
}

td p {
  text-align: center;
}

.benefits-cards {
  @apply flex flex-col lg:flex-row items-center gap-24 bg-white rounded-xl p-8;
}

.benefits-h1 {
  @apply text-[#bd0018] font-bold text-2xl my-3;
}

.benefits-p {
  @apply text-[#333333];
}

a.active {
  @apply text-[#62ab00] font-extrabold;
}
